<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Roundabout</title>

    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="https://use.fontawesome.com/75895fb59f.js"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="/ngkookies/ngKookies.js"></script>
    <script src="/materialize-css/dist/js/materialize.js"></script>
    <script src="/autocomplete.min.js"></script>
    <script src="/angular-smart-table/dist/smart-table.js"></script>
    <script src="/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/angular-read-more/dist/readmore.min.js"></script>

    <!-- the slider shit -->
    <link rel="stylesheet" type="text/css" href="/angularjs-slider/dist/rzslider.css"/>
    <script src="/angularjs-slider/dist/rzslider.min.js"></script>

    <!-- ui-route animations -->
        <script src="/angular-ui-router-anim-in-out/anim-in-out.js"></script>
        <link rel="stylesheet" type="text/css" href="/angular-ui-router-anim-in-out/css/anim-in-out.css">


    <!-- keep scroll at bottom scroll-glue -->
    <script <script src="angularjs-scroll-glue/src/scrollglue.js"></script>
</script>

    <!-- file uploading -->
    <script src="ng-flow/dist/ng-flow-standalone.min.js"></script>


    <!-- MATERIALIZE  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.9/angular-materialize.min.js"></script>

     <link rel="stylesheet" href="/angular-material/angular-material.css">

    <!-- load custom CSS last -->
    <link rel="stylesheet" type="text/css" href="/style.css" />

    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">

    <navbar></navbar>
    <div id="main" ui-view></div>

    <script src="/angular-material/angular-material.js"></script>

        <!-- LOAD AFTER JQUERY -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <script src="/socket.io-client/socket.io.js"></script>

        <script>

        </script>

</body>
</html>
