<section id="tour-detail">

	<div class="cover-img" style="background-image:url({{tour.image}})"><!-- GET BACKGROUND IMAGE FROM TOUR OBJECT ANGULAR-->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="summary">
					<div class="row">

						<div class="col-md-3 user-profile-name">
							<div class="row">
								<p>
								<a href="#">
							    	<div class="media-photo media-round card-profile-picture">
							    		<img ng-src="{{tour.guide.photo}}">
							    	</div>
							    </a>
							    </p>
						    </div>

						    <div class="row">
						    	<div class="guide-name">{{tour.guide.name}}
						    	</div>
						    </div>
						</div>
						<div class="col-md-9 listing-info">
							<div class="tour-title">{{tour.title}}</div>
							<div class="tour-location">{{tour.location}}</div>
							<div class="row tour-info-widgets">

								<div class="col-sm-3"><span class="glyphicon glyphicon-time" aria-hidden="true"></span><span class="tour-duration glyph-infotext"> {{tour.duration}}m</span></div>
								<div class="col-sm-3"><i class="fa fa-users" aria-hidden="true"></i><span class="num-people glyph-infotext"> 1-4 people</span></div>
								<div class="col-sm-4">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<span class="glyph-infotext" > {{tour.guide.numReviews}} reviews</span>
								</div>
							</div>
							  <div ng-repeat="tag in tour.tags" class="chip tour-tags">
							    <span class="single-tag">{{tag}}</span>
							  </div>
						</div>

					</div>

					Summary (tour title, location, star rating, num reviews, profile pic, tags list + ... in the future (user defined options [ie, categories, family, etc])
					}
				</div>
				<div class="details">
					About this tour
						Tour Description

						Table with additional information
							Tour duration
							Expires


        
				</div>
				<div class="reviews">
				</div>
					<div>{{tour}}</div>

			</div>
			<div class="col-lg-4">
				<div class="book-it">
					<div class="row">
						<span class="col-sm-8 price">${{tour.price}}</span>
						<span class="col-sm-4 price-per">Per Tour</span>
					</div>
				</div>
				<div class="book-it-panel">
					<div class="book-it-panel-body">
						<div class="col-sm-8">
						<label for="inputCreated">Date</label>
						<input input-date
						    type="text"
						    name="created"
						    id="inputCreated"
						    ng-model="currentTime"
						    container=""
						    format="dd/mm/yyyy"
						    months-full="{{ month }}"
						    months-short="{{ monthShort }}"
						    weekdays-full="{{ weekdaysFull }}"
						    weekdays-short="{{ weekdaysShort }}"
						    weekdays-letter="{{ weekdaysLetter }}"
						    disable="disable"
						    min="{{ minDate }}"
						    max="{{ maxDate }}"
						    today="today"
						    clear="clear"
						    close="close"
						    select-years="15"
						    on-start="onStart()"
						    on-render="onRender()"
						    on-open="onOpen()"
						    on-close="onClose()"
						    on-set="onSet()"
						    on-stop="onStop()" />
        </div>
						<div class="col-sm-4">

						<label for="inputSelected">Travellers</label>
						<md-input-container>
					        <md-select ng-model="numTravellers">
					          <md-option ng-repeat="number in numbers" value="{{number}}">
					            {{number}}
					          </md-option>
					        </md-select>
					      </md-input-container>

					</div>

					<div class="col-sm-12">
						<a class="waves-effect waves-light btn add-cart-btn" ng-click="addToCart(tour)">Add to Cart</a>
					</div>

					<div class="col-sm-12">
					<a class="waves-effect waves-light btn request-btn" ng-click="book()">Proceed to Checkout</a>
					</div>


					<!-- <div class="col-sm-12">
					<a class="waves-effect waves-light btn request-btn">Add to Cart</a>
					</div> -->

				</div>
			</div>
		</div>
	</div>
</section>
