<nav ng-class="{ transparent: atHome }" class="navbar navbar-custom navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <ul ng-show="!user" class="welcome" ui-sref-active="active">
            <a ui-sref="login" class="search-button waves-effect waves-light btn">Login</a>
        </ul>
        <ul ng-show="user" class="welcome" ui-sref-active="active">
            <span>Sup,
            {{ user.name }}
            </span>
            <a ui-sref="addtour" class="search-button waves-effect waves-light btn">Create Tour</a>
            <a class="navbar-cart" ui-sref="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><div class="numberCircle">{{itemsInCart}}</div>
</a>
            <a ng-click="logout()" class="logout-button">Logout</a>
        </ul>
    </div>

</nav>
