#home {

  font-family: Circular;
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }

  #video-container {
    position:relative;
    height: 480px;
    width: 100%;
  }

  #video-player {
    height:550px;
    width:100%;
    top:-70px;
    position: absolute;
    overflow: hidden;
  }
    video {
        min-width: 100%;
        min-height: 100%;
    }

  .video-container-footer {
    background-color: rgba(0, 0, 0, .6);
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    right: 0;
    }

  .search-form {
      vertical-align: middle;
      text-align:center;
    }
  .input-searchterm-label {
      width: 400px;
    }

    .input-field label {
      left: 0;
    }

    .search-button {
      margin-left: 10px;
    }
  #auto-complete-id {
    color: white;
  }
  .video-container-text {
    color: WHITE;
    text-align: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 150px;
    .text-branding-title {
      font-size: 45px;
      font-family: Circular, Arial, sans-serif;
      font-weight: bold;
    }
    .text-branding-caption {
      font-size: 20px;

    }
  }

  .info-box {
    margin-top: 50px;
    text-align: center;

    .info-bar-sm {
      font-weight: bold;
      font-size: 24px;
    }

    .info-bar-lg {
      font-weight: bold;
    }

    .info-bar-caption {
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 16px;
    }
  }

  .step-box {
    text-align: center;
    .info-bar-how-lg {
      font-size: 30px;
      font-weight: bold;
    }
    .info-bar-how-md {
      font-size: 26px;
    }

  }

  .step {
    padding-top: 10px;
    .card{
      background-color: #544B3D;
      color: white;
      height: 250px;
      .title {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 15px;
      }
      .content {
        font-size: 14px;
      }
    }
  }


  .container-brand-dark {
    padding: 48px 0;
    background-color: #2b2d2e;
    color: white;
    height: 200px;
  }

}

