navbar {

  .shopping-cart-container {


  font-family: Circular;


.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: #26a69a;
}
.badge {
  background-color: #26a69a;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  position:relative;
  right: 0px;
  top: 2px;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: absolute;
  border-radius: 3px;
  padding: 20px;
  z-index:1;
  top: 60px;
  right: 145px;
}
.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 35px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
  width:60px;
  margin-top: 13px;
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-price {
  color: #26a69a;
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: #26a69a;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}
.button:hover {
  background: #20d3c3;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

  }

  nav {
      margin-bottom: 0px;
  }
  height: 50px;
  display: block;
  // background: white;
  // border-bottom: 1px solid black;
  // box-shadow: 1px 1px 14px -3px black;

  .navbar-custom {
    height: 70px;
    // background-color: rgba(0,0,0,0);
    box-shadow: none;
    margin-bottom: -10;
    background-color: #2b2d2e;
  }

  .container {
    width: 91%;
    max-width: 1340px;
    padding: 10px 0;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    font-family: Circular, Arial, sans-serif;
    font-weight: bold;
    color: #d3d3d3;
    &.active {
      // color: darken(#19A79A, 10%);
      color: #19A79A;
    }
    &:hover {
      background: none;
      color: lighten(#19A79A, 10%);
    }
    &:focus {
      background: none;
    }
  }

  .navbar-cart {
    display: inline-block;
    z-index: 2;
  }

  .navbar-cart i {
    font-size: 17px;
  }

  .numberCircle {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background: #26a69a;
    color: white;
    text-align: center;
    font: 11px Circular, sans-serif;
    font-weight: bold;
    display: inline-block;
    position: relative;
    bottom: 9px;
    right: 3px;
  }


  .navbar-cart:hover {
    background-color: transparent;
    i {
      color: #26a69a;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;

    background: none;
    outline: none !important;
  }

  .logout-button {
    color: #d3d3d3;
    display: inline-block;
    &:hover {
        background-color: transparent;
    }
  }

  .welcome {
    font-family: Circular, Arial, sans-serif;
    font-weight: bold;
    color: #d3d3d3;
    height: 50px;
    float: right;
    font-size: 1rem;
    bottom: 7px;
    position: relative;
    span {
      margin-right: 5px;
    }
    a {
      cursor: pointer;
    }
  }

}
