navbar {
  nav {
      margin-bottom: 0px;
  }
  height: 50px;
  display: block;
  // background: white;
  // border-bottom: 1px solid black;
  // box-shadow: 1px 1px 14px -3px black;

  .navbar-custom {
    height: 70px;
    // background-color: rgba(0,0,0,0);
    box-shadow: none;
    margin-bottom: -10;
    background-color: #2b2d2e;
  }

  .container {
    width: 91%;
    max-width: 1340px;
    padding: 10px 0;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    font-family: Circular, Arial, sans-serif;
    font-weight: bold;
    color: #d3d3d3;
    &.active {
      // color: darken(#19A79A, 10%);
      color: #19A79A;
    }
    &:hover {
      background: none;
      color: lighten(#19A79A, 10%);
    }
    &:focus {
      background: none;
    }
  }

  .navbar-cart {
    display: inline-block;
    z-index: 2;
  }

  .navbar-cart i {
    font-size: 17px;
  }

  .numberCircle {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background: #26a69a;
    color: white;
    text-align: center;
    font: 11px Circular, sans-serif;
    font-weight: bold;
    display: inline-block;
    position: relative;
    bottom: 9px;
    right: 3px;
  }


  .navbar-cart:hover {
    background-color: transparent;
    i {
      color: #26a69a;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;

    background: none;
    outline: none !important;
  }

  .logout-button {
    color: #d3d3d3;
    display: inline-block;
    &:hover {
        background-color: transparent;
    }
  }

  .welcome {
    font-family: Circular, Arial, sans-serif;
    font-weight: bold;
    color: #d3d3d3;
    height: 50px;
    float: right;
    font-size: 1rem;
    bottom: 7px;
    position: relative;
    span {
      margin-right: 5px;
    }
    a {
      cursor: pointer;
    }
  }

}
