.tour-booked-card {

	padding: 0;
	
	.card-image {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		width:175px;
		height: 100%;
	}

	.tour-desc {
	padding-right: 10px;
	}

	.order-info {
		padding-left: 8px;
	}
	.glyph-pad {
	}
	.glyph-text-pad {
		padding-left: 4px;
		padding-right: 8px;
	}
}