<section id="login">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <form id="signup-form" name="signupForm" ng-submit="signupForm.$valid && uploaded && sendSignup(signup)">
            <div>CREATE A NEW ACCOUNT</div>
            <alert type="danger" ng-show="error.signup">
                {{ error.signup }}
            </alert>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" ng-model="signup.name" class="form-control" id="name" placeholder="Enter name" required>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" ng-model="signup.email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" ng-model="signup.password" class="form-control" id="login-password" placeholder="Password">
            </div>
            <div class="form-group" flow-init>
            <label for="file">Profile pic</label>
                <!-- <input type="imageUrl" ng-model="signup.imageUrl" class="form-control" id="imageUrl" placeholder="Image URL (we recommend imgur)"> -->
                <div class="row">
                    <div>
                    <input class="choose-files" type="file" name="photo" file-model="myFile" flow-btn/>
                    <img flow-img="$flow.files[0]" id='profile'/>
                    <a ng-click="uploadFile($flow.files[0])" class="btn upload">Upload Me</a>
                    </div>
                </div>
                <div>
                <p ng-if="uploaded" class='uptext'>Uploaded!</p>
                <p ng-if="!uploaded" class='uptext'>Once file is selected, press upload!</p>
                </div>
            </div>
            <button type="submit" class="btn btn-default">SIGN UP</button>
        </form>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">
            <div>LOG IN</div>
            <alert type="danger" ng-show="error.login">
                {{ error.login }}
            </alert>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">LOG IN</button>
        </form>
        <div><p><oauth-button provider-name="Facebook" id="facebook"></oauth-button></p></div>
        <div><p><oauth-button provider-name="Twitter" id="twitter"></oauth-button></p></div>
        <div><p><oauth-button provider-name="Google" id="google"></oauth-button></p></div>
    </div>
</section>
