#login {
  margin-top: 30px;

  #login-form {
    width: 80%;
    margin: 0 auto;
  }

  #signup-form {
    width: 80%;
    margin: 0 auto;
  }

  @media(max-width: 767px) {
    #signup-form {
      margin-bottom: 20px;
    }

    #login-form {
      margin-top: 20px;
    }
  }
  
}
