#profile {

	font-family: Circular;

	.container {
	}
	.user-stuff {

	}

	.panel {
		border: 1px solid #dce0e0;
		background-color: #fff;
		border-radius: 0;
	}

	.panel-header {
		color: #484848;
		font-size: 16px;
		border-bottom: 1px solid #dce0e0;
		background-color: #edefed;
		position: relative;
		margin: 0;
		padding: 12px 20px 12px 20px;

	}

}