#profile {

	font-family: Circular;

	.container {
	}
	.user-stuff {

	}

	.sidebar {
		margin-top: 20px;
	}

	.panel {
		border: 1px solid #dce0e0;
		background-color: #fff;
		border-radius: 0;
		margin-top: 20px;
	}

	.panel-header {
		color: #484848;
		font-size: 16px;
		border-bottom: 1px solid #dce0e0;
		background-color: #edefed;
		position: relative;
		margin: 0;
		padding: 12px 20px 12px 20px;

	}

	form {
		padding: 30px;

	}
	
	md-input-container {
		margin: 0;
	}

}