<section id="home">
<!--     <fullstack-logo></fullstack-logo>
    <rando-greeting></rando-greeting> -->
    <div id="video-container">
	    <div id="video-player" class="fullscreen-video-player">
	    	<video autoplay loop muted>
	    	<source src="/media/video.mp4" type="video/mp4">
	    	</video>	
	    </div>
<!-- 	    <div class="video-middle">
	    	<h2 class="text-branding-title">EXPLORE</h2>
	    	<h4 class="text-branding-caption">Book local tour guides in 100+ cities and experience the place like
	    	you have never before.</h4>
	    </div> -->
		<div class="video-container-text">
			<div class="col-sm-12">
				<div class="text-branding-title">
					ROUNDABOUT
				</div>
				<div class="text-branding-caption">
					Go round about, we'll guide you there
				</div>
			</div>
		</div>
	    <div class="video-container-footer">
	    	<div class="col-sm-12">
	    		<div id="searchbar">
	    			<div class="search-form">
	    				<form action="/s" method="get">
	    					<label class="input-searchterm-label">
								 <div input-field class="input-searchterm">
								    <input type="text" ng-model="ctrl.query">
								    <label>Search for a tour</label>
								</div>
							</label>
							<label class="input-location-label">
								<div input-field class="input-location">
								<auto-complete-input auto-data="ctrl.data" ac-title="'City'" color="ctrl.color" input-model="ctrl.location"></auto-complete-input>
								</div>
							</label>
							  <a class="search-button waves-effect waves-light btn" ui-sref="tours({query: ctrl.query, location: ctrl.location})">Search</a>

	    				</form>
          
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
	<div class="row">
		<div class="step col-sm-4 text-xs-center">
          <div class="card">
            <div class="card-content">
              <div class="title">1. Book</div>
              <div class="content">Sign up.</div>
            </div>
          </div>
        </div>
		<div class="step col-sm-4 text-xs-center">
          <div class="card">
            <div class="card-content">
              <div class="title">2. Tour</div>
              <div class="content">Select a tour.</div>
            </div>
          </div>
        </div>
		<div class="step col-sm-4 text-xs-center">
          <div class="card">
            <div class="card-content">
              <div class="title">3. Explore</div>
              <div class="content">Enjoy the city</div>
            </div>
          </div>
        </div>
	</div>
	<footer class="end">
		
	</footer>
<!--     <div class="filter">
    	<label>Filter by Tags</label>
	 	<md-autocomplete
	          ng-disabled="ctrl.isDisabled"
	          md-no-cache="ctrl.noCache"
	          md-selected-item="ctrl.selectedItem"
	          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
	          md-search-text="ctrl.searchText"
	          md-selected-item-change="ctrl.selectedItemChange(item)"
	          md-items="item in ctrl.querySearch(ctrl.searchText)"
	          md-item-text="item.display"
	          md-min-length="0"
	          placeholder="What would you like to do?">
	        <md-item-template>
	          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
	        </md-item-template>
	        <md-not-found>
	          No states matching "{{ctrl.searchText}}" were found.
	          <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
	        </md-not-found>
	    </md-autocomplete>
    </div>
    <div class="sort">
    	<div class="col-md-6">
    		<label>Tour Duration</label>
    	</div>
    	<div class="col-md-6">
    		<label>Price Range</label>
    	</div>
    </div>

    <tour-card ng-repeat="tour in ctrl.tours | filter: ctrl.searchText | orderBy: '+timeLeft'" tour-data="tour"> -->

        <!-- Dropdown Trigger -->
<!-- <a class='dropdown-button btn' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">
    This is a dropdown
</a> -->

<!-- Dropdown Structure -->
<!-- <ul id='demoDropdown' class='dropdown-content'>
    <li><a href="javascript:void(0);">Link 1</a></li>
    <li><a href="javascript:void(0);">Link 2</a></li>
    <li><a href="javascript:void(0);">Link 3</a></li>
    <li><a href="javascript:void(0);">Link 4</a></li>
    <li><a href="javascript:void(0);">Link 5</a></li>
</ul> -->
</section>
