/* Font Styles
Ruda (400, 700, 900)
Days One (400)
Cantarell (400, 400I, 700, 700I)
Montserrat (400, 700)
*/

body {
	background: black;
	color: white;
	width: 90%;
	margin: 0 auto;
	font-family: 'Montserrat';
	font-weight: 400;
}

#container {
	width: 100%;
	float: left;
}

#left {
	width: 30%;
	float:left;
}

#right {
	width: 70%;
	float:left;
}

#logo {
	font-size: 2.2rem;
}

#title {
	font-size: 5.0rem;
	margin-top: 20%;
}

#quote {
	color: rgba(112, 138, 144, 0.7);
	font-size: 2.5rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 100px;
	font-size: 1.2rem;
	color: rgba(150, 150, 150, 1.0);
}

a {
	text-decoration: none;
	color: rgba(150, 150, 150, 1.0);
}

a:visited {
	color: rgba(150, 150, 150, 1.0);
}

a:hover {
	color: white;
}

@media screen and (max-width: 1200px) {

#title {
	font-size: 4.0rem;
	margin-top: 20%;
}

#logo {
	font-size: 2.0rem;
}

ul {
	font-size: 1.2rem;
}

#quote {
	font-size: 2.5rem;
}

}

@media screen and (max-width: 1024px) {

#title {
	font-size: 3.0rem;
	margin-top: 20%;
}

#logo {
	font-size: 1.7rem;
}

ul {
	font-size: 1.2rem;
}

#quote {
	font-size: 1.9rem;
}

}

@media screen and (max-width: 950px) {


#title {
	font-size: 2.7rem;
	margin-top: 20%;
}

#logo {
	font-size: 1.5rem;
}

ul {
	font-size: 1.2rem;
}

#quote {
	font-size: 1.7rem;
}
}

@media screen and (max-width: 650px) {

#logo {
	font-size: 2.2rem;
}

ul {
	font-size: 1.2rem;
	margin-top: 0px;
}

li {
	background: rgba(225, 225, 225, 0.4);
	margin-bottom: 5px;
	padding-left: 15px;
}

li:hover {
	background: rgba(275, 275, 275, 0.4);
}

#title {
	font-size: 2.2rem;
	margin-top: 20%;
}

#quote {
	font-size: 1.6rem;
}

#left {
	display:block;
	float:none;
	width: 100%;
}
#right {
	display:block;
	float:none;
	width: 100%;
}


#title {
	margin-top: 7%;
}


}

@media screen and (max-width: 480px) {


#logo {
	font-size: 2.2rem;
}

ul {
	font-size: 1.2rem;
}

#title {
	font-size: 1.8rem;
	margin-top: 20%;
}


#quote {
	font-size: 1.3rem;
}


#title {
	margin-top: 7%;
}

}
